extends layout.pug

block content
  h1 Library Books
  //-
   Here I include a link, so a user can easily create a new book entry in the
   library database.
  a(href=`/books/new`).index-button Create New Book
  br
  br
  //-
   -Here I create a table to display all of my library books in my database.
   -First, I use the <tr> tag to create the Table Headers: Title, Author.
   Genre, and Year.
   -Second, with the <td> tag, I populate the table with my library books using
   the pug template's each method to iterate over my individual book entries.
  table
      tbody
        tr
          th Title
          th Author
          th Genre
          th Year
      each book in books
        tr
          td
             a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
